
<div class="popup">

    <div class="content w-100 h-100 overflow-auto">

        <div class="bg-white rounded-3 py-4 px-4 info m-auto my-5 position-relative">
            <button type="button" class="btn btn-danger btn-sm text-white close-btn" (click)="openMonedaDesdeHeader.emit()">
                <i class="bi bi-x-lg"></i>
            </button>

            <h2 class="h4 text-center mb-3">Idiomas</h2>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-sm">Estados unidos ($)</button>
                <button type="button" class="btn btn-sm">España (€)</button>
            </div>
        </div>

    </div>

</div>
