#container {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;

  .content {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      width: 95%;
      max-width: 550px;

      .close-btn {
        position: absolute;
        right: 7px;
        top: 7px;
      }
    }
  }
}

.btn-sm.active {
  background-color: var(--bs-primary) !important;
}